################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ThaibevQuiz/ThaibevQuiz.sln
/ThaibevQuiz/.vs/ThaibevQuiz/FileContentIndex/6f75015e-c55e-40a6-8845-7c80084d0754.vsidx
/ThaibevQuiz/.vs/ThaibevQuiz/FileContentIndex/bc0832f8-a74c-481e-a4a2-7d882a727ad8.vsidx
/ThaibevQuiz/ThaibevQuiz.sln
/ThaibevQuiz/ThaibevQuiz.sln
/ThaibevQuiz/.vs/ThaibevQuiz/FileContentIndex
